<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" parallel="tests">	
	<test name="chrometest">
  	<parameter name="browser" value="chrome"/>
		<classes>
			<class name="web.testing_new.web_module.webtestclasses.TC_Notifii" />
			<class name="com.fileupload.ReportUpload" />
		</classes>
	</test>
</suite>